@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700");

* {
  box-sizing: border-box;
}

body {
  background: #E4FFEE;
  min-height: 100vh;
  font-family: "Fira Sans", sans-serif;
  margin: 0;
}


